.body {
  font: inherit;
}

.app {
  font-size: 20px;
}


.navbar-wrapper {
  border: 1px solid #333333;
  background: black;
  color: white;
}



@media screen and (min-width: 600px) {
  
  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar > *:first-child {
    flex: 0.6;
  }

  .navbar > * {
    flex: 1;
  }

}

@media screen and (min-width: 900px) {
  .App-header {
    color: blue;
  }

}
