main {
  padding: 5px;
  /* background: #000000; */
  background: white;
}

.gifs-index {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gif-column {
  width: 50%;
}

.gif-wrapper {
  overflow: hidden;
  margin: 4px;
}

.gif-wrapper > img {
  width: 100%;
  object-fit: contain;
}

.gif-wrapper > img:hover {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  main {
    padding: 12px;
  }
  
  .gif-column {
    flex: 1;
    width: 25%;
  }

  .gif-wrapper {
    overflow: hidden;
    border-radius: 2px;
    margin: 4px;
  }
}

@media screen and (min-width: 900px) {
  .gifs-index {
    width: 80%;
    margin: 0 auto;
  }
}