main {
  padding: 5px;
  background: #000000;
  /* background: white; */
  min-height: 90vh;
}

.gifs-index {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gif-column {
  width: 50%;
}

.gif-wrapper {
  overflow: hidden;
  margin: 4px;
  transition-duration: 0.5s;
}

.gif-wrapper:hover {
  transform: scale(1.04);
}

.gif-wrapper > img {
  box-sizing: border-box;
  width: 100%;
  object-fit: contain;
  transition-duration: 0.8s;
}

.gif-wrapper > img:hover {
  border: 2px solid yellow;
}

.gif-wrapper > img:hover {
  cursor: pointer;
}

@media screen and (min-width: 769px) {
  main {
    padding: 12px;
  }
  
  .gif-column {
    flex: 1;
    width: 25%;
  }

  .gif-wrapper {
    border-radius: 2px;
    margin: 6px;
  }
}

@media screen and (min-width: 900px) {
  .gifs-index {
    width: 80%;
    margin: 0 auto;
  }
}