.modal {
  display: none;
}

.modal-shadow {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.69);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  animation: darken 0.3s;
}

.modal-wrapper {
  z-index: 3;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 70%;
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  animation: darken 0.6s;
}

#modal-image {
  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

#modal-details {
  color: white;
  margin-top: 10px;
}

.modal.opened {
  display: block;
}


#link-wrapper {
  border: 2px solid #303d66;
  background: #303d66;
  overflow-x: hidden;
  width: 90%;
}

#link-wrapper i {
  display: inline;
  margin: 0 6px 0 6px;
  color: #dddddd
}




@keyframes darken {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (min-width: 769px) {
  #modal-image {
    object-fit: none;
    position: relative;
    top: 50px;
    width: 100%;
    height: 60%;
    display: block;
  }
  
}